.testimonials-section {
  @media screen and (max-width: 1120px) and (min-width: 768px) {
    @include responsive-property("margin-top", 150, 70, 1, 768, 1120);
    @include responsive-property("margin-bottom", 150, 70, 1, 768, 1120);
  }

  @media screen and (max-width: 768px) and (min-width: 320px) {
    @include responsive-property("margin-top", 70, 40, 1, 320, 768);
    @include responsive-property("margin-bottom", 70, 40, 1, 320, 768);
  }

  margin: 150px 0 150px 0;
}

.testiomonials {
  @media screen and (max-width: 1120px) and (min-width: 800px) {
    @include responsive-property("padding-top", 110, 50, 1, 800, 1120);
    @include responsive-property("padding-left", 95, 70, 1, 800, 1120);
    @include responsive-property("height", 687, 560, 1, 800, 1120);
  }

  @media screen and (max-width: 800px) and (min-width: 768px) {
    @include responsive-property("padding-top", 50, 50, 1, 768, 800);
    @include responsive-property("padding-left", 70, 70, 1, 768, 800);
    @include responsive-property("height", 560, 550, 1, 768, 800);
  }

  @media screen and (max-width: 768px) and (min-width: 425px) {
    @include responsive-property("padding-left", 70, 20, 1, 425, 768);
    @include responsive-property("padding-top", 50, 25, 1, 425, 768);
    @include responsive-property("height", 550, 420, 1, 425, 768);
  }

  @media screen and (max-width: 425px) and (min-width: 320px) {
    @include responsive-property("padding-left", 20, 10, 1, 320, 425);
    @include responsive-property("padding-top", 25, 15, 1, 320, 425);
    @include responsive-property("height", 420, 360, 1, 320, 425);
  }

  background-color: $color-violet;
  padding: 110px 0px 60px 95px;
  border-radius: 50px;
  height: 687px;

  &__title {
    @media screen and (max-width: 1120px) and (min-width: 800px) {
      @include responsive-property("padding-bottom", 88, 30, 1, 800, 1120);
    }

    @media screen and (max-width: 800px) and (min-width: 768px) {
      @include responsive-property("padding-bottom", 30, 30, 1, 768, 800);
    }

    @media screen and (max-width: 768px) and (min-width: 320px) {
      @include responsive-property("padding-bottom", 30, 10, 1, 320, 768);
      @include responsive-property("font-size", 40, 30, 1, 320, 768);
      text-align: center;
    }

    font-size: 40px;
    line-height: 130%;
    color: $color-white;
    padding-bottom: 88px;
  }
}

.testiomonials-carousel {
  @media screen and (max-width: 510px) and (min-width: 425px) {
    margin-bottom: 15px !important;
  }

  @media screen and (max-width: 375px) and (min-width: 320px) {
    margin-bottom: 10px !important;
  }
}

.testiomonials-slide {
  width: max-content;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(138, 77, 224, 0.3);
  margin-bottom: 20px;
  display: flex;
}

.testiomonials-slide + .testiomonials-slide {
  margin-left: 20px;
}

.testiomonials-slide-avatar {
  @media screen and (max-width: 425px) and (min-width: 320px) {
    @include responsive-property("padding-right", 20, 10, 1, 320, 425);
  }
  padding-right: 30px;
}

.testiomonials-slide-content {
  @media screen and (max-width: 768px) and (min-width: 425px) {
    @include responsive-property("padding-right", 70, 20, 1, 425, 768);
    @include responsive-property("padding-left", 70, 20, 1, 425, 768);
    @include responsive-property("padding-top", 60, 20, 1, 425, 768);
    @include responsive-property("padding-bottom", 50, 20, 1, 425, 768);
  }

  @media screen and (max-width: 425px) and (min-width: 320px) {
    @include responsive-property("padding-right", 20, 10, 1, 320, 425);
    @include responsive-property("padding-left", 20, 10, 1, 320, 425);
    @include responsive-property("padding-top", 20, 10, 1, 320, 425);
    @include responsive-property("padding-bottom", 10, 20, 1, 320, 425);
  }
  padding: 60px 70px 50px 70px;
  display: flex;
  overflow: hidden;
}

.testiomonials-slide-text {
  &__name {
    font-family: $avenir-black;
    color: $body-font-color-bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
  }

  &__post {
    font-size: 14px;
    color: $color-violet;
    line-height: 160%;
    letter-spacing: 0.01em;
  }

  &__description {
    @media screen and (max-width: 768px) and (min-width: 425px) {
      @include responsive-property("font-size", 18, 14, 1, 425, 768);
      @include responsive-property("max-width", 385, 180, 1, 425, 768);
      @include responsive-property("padding-top", 20, 5, 1, 425, 768);
    }

    @media screen and (max-width: 425px) and (min-width: 320px) {
      @include responsive-property("font-size", 14, 12, 1, 320, 425);
      @include responsive-property("max-width", 188, 148, 1, 320, 425);
      @include responsive-property("padding-top", 5, 5, 1, 320, 425);
      @include responsive-property("height", 160, 130, 1, 320, 425);
    }

    font-size: 18px;
    line-height: 180%;
    padding-top: 20px;
    max-width: 385px;
  }
}

//Slick slider

.slick-list {
  @media screen and (max-width: 801px) {
    overflow: hidden;
  }
  overflow: visible;
}

.slick-dots {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  width: auto;
  bottom: 0;
}

.slick-dots {
  li {
    button::before {
      opacity: 1;
      color: #fff;
    }
  }
}

.testiomonials-controls {
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.slick-prev-testiomonials {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  // right: 36px;
  right: 95px;
  left: unset;

  &::before {
    content: url("../images/testimonials/right-arrow.svg");
    position: relative;
  }
}

.slick-next-testiomonials {
  right: 157px;
  left: unset;

  &::before {
    content: url("../images/testimonials/left-arrow.svg");
    position: relative;
  }
}

.slick-prev-testiomonials,
.slick-next-testiomonials {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
