.footer {
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.footer-content {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  padding: 100px 0 100px 0;
}

.try-free {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.try-free-text {
  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }

    font-size: 40px;
    line-height: 130%;
  }
  &__description {
    font-size: 18px;
    padding-top: 20px;
  }
}

.try-free-actions {
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }

  &__btn + &__btn {
    @media screen and (max-width: 815px) {
      margin-left: 5px;
    }

    @media screen and (max-width: 425px) {
      margin-top: 10px;
    }

    margin-left: 30px;
  }
}

.nav-info {
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.nav-info-adress {
  &__location {
    font-size: 16px;
    font-family: $avenir-black;
    color: $body-font-color-bold;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__contacts {
    font-size: 16px;
  }
}

.nav-info-adress-logo {
  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
  }

  display: flex;
  align-items: center;
  padding-bottom: 65px;

  &__title {
    font-family: $avenir-black;
    font-size: 20px;
    color: $body-font-color-bold;
    padding-left: 20px;
  }
}

.footer-nav-container {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }

  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  &__link {
    font-size: 16px;
    color: $body-font-color;
  }

  &__link + &__link {
    margin-top: 20px;
  }

  &__title {
    font-size: 16px;
    font-family: $avenir-black;
    color: $body-font-color-bold;
    margin-bottom: 30px;
  }
}

.social-media {
  margin-top: 8px;

  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e9e9ee;
    margin-right: 15px;
  }

  &__link--facebook {
    &::after {
      @media screen and (max-width: 767px) {
        left: 4%;
        top: 26%;
      }

      content: url("../images/footer/facebook_icon.svg");
      left: 39%;
      position: relative;
      top: 25%;
    }
  }

  &__link--twitter {
    &::after {
      @media screen and (max-width: 767px) {
        left: 4%;
      }

      content: url("../images/footer/twitter_icon.svg");
      left: 33%;
      position: relative;
      top: 35%;
    }
  }

  &__link--instagram {
    &::after {
      @media screen and (max-width: 767px) {
        left: 3%;
      }

      content: url("../images/footer/instagram_icon.svg");
      left: 33%;
      position: relative;
      top: 34%;
    }
  }
}

.social-media-links {
  display: flex;
}

.copyright {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }

  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 12px;
  }

  &__callback {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(156, 105, 226, 0.2);

    &::after {
      content: url("../images/footer/message_icon.svg");
      left: 23%;
      position: relative;
      top: 24%;
    }
  }
}

.copyright-mobile {
  display: none;
  background-color: #9c69e2;
  padding: 9px 0 9px 0;

  @media screen and (max-width: 767px) {
    display: block;
  }

  &__text {
    font-size: 12px;
    text-align: center;
    color: #000;
  }
}
