@import "../mixins/index";

.header {
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}

.header-inner {
  @media screen and (max-width: 768px) {
    height: unset;
  }
  height: 100vh;
  // padding-top: 50px;
  @include adaptive-property("padding-top", 50, 25, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-controls {
  @media screen and (max-width: 768px) {
    display: none;
  }
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: flex-end;

  &__circle {
    width: 20px;
    height: 20px;
    background-color: $color-violet;
    border-radius: 20px;
    margin-right: 10px;
  }

  &__ellipse {
    width: 20px;
    height: 35px;
    background: $color-pink;
    border-radius: 20px;
  }
}

.header-nav {
  // @media screen and (max-width: 768px) {
  //   display: none;
  // }

  display: inline-flex;
  list-style: none;
  margin-left: 120px;

  &__link + &__link {
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
    margin-left: 40px;
  }

  &__link > a {
    font-size: 1.6rem;
    color: $body-font-color;
  }
}

.header-nav__link {
  &--active {
    font-family: $avenir-black;
    color: $body-font-color-bold;
    font-weight: 700;
  }
}

.header-action {
  margin-left: auto;
}

// SlickNav

.slicknav_btn {
  background-color: $color-violet;
  // top: 5px;
}

.slicknav_menu {
  display: none;
  background-color: rgba(240, 99, 184, 0.15);

  &::before {
    content: url(../images/logo.svg);
    position: relative;
    top: 3px;
    display: unset;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.slicknav_icon {
  width: 10px !important;
  height: 10px !important;
  margin: 0px !important;
  float: unset !important;
}

.slicknav_icon-bar {
  height: 3px !important;
  width: 20px !important;
}

.slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 3px !important;
}

.slicknav_btn {
  padding: 10px !important;
}

// .slicknav_menutxt {
//   font-size: 1.6rem;
// }

.header-content {
  // margin-top: 130px;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  position: relative;

  &::after {
    @media screen and (max-width: 768px) {
      background: unset;
      content: unset;
    }

    @include adaptive-property("background-size", 885, 0, 1);

    content: "";
    width: 885px;
    height: 468px;
    background: url("../images/header-img.png") no-repeat;
    position: absolute;
    top: 90px;
    left: 364px;
  }

  &__mobile-img {
    @media screen and (max-width: 768px) {
      display: block;
    }

    display: none;
  }

  &__title {
    max-width: 645px;
    @include adaptive-property("font-size", 80, 30, 1);
  }

  &__text {
    // margin-top: 50px;
    @include adaptive-property("margin-top", 50, 25, 1);
    max-width: 380px;
    @include adaptive-property("font-size", 18, 15, 1);
  }

  &__btn {
    // margin-top: 50px;
    @include adaptive-property("margin-top", 50, 25, 1);
    margin-bottom: 100px;
    // @include adaptive-property("margin-bottom", 100, 30, 1);
  }
}
