* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $html-font-size;
}

body {
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
  background-color: $body-background-color;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 0;
  background-color: transparent;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
